/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

:root {
	// Color variables
	--cso-main-color: #f66f44;
	--cso-active-color: #3bb66b;
	--cso-gray-bg-color: #b5b3b5;
	--cso-border-color: #dedede;
	--cso-border-active: #c1c1c1;
}

#core-speed-optimizer-options {

	// All field
	.cso-field {

		// Toggle field
		&.toggle {

			label {
				position: relative;
				display: inline-block;
				width: 44px;
				height: 22px;

				input {
					opacity: 0;
					width: 0;
					height: 0;
					outline: none;
					box-shadow: none;
					border: none;
				}
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: var(--cso-gray-bg-color);
				-webkit-transition: .3s;
				transition: .3s;

				&:before {
					position: absolute;
					content: "";
					height: 18px;
					width: 18px;
					left: 2px;
					bottom: 2px;
					background-color: white;
					-webkit-transition: .3s;
					transition: .3s;
				}
			}

			input:checked + .slider {
				background-color: var(--cso-active-color);
			}

			input:focus + .slider {
				box-shadow: none;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(22px);
				-ms-transform: translateX(22px);
				transform: translateX(22px);
			}

			/* Rounded sliders */
			.slider {

				&.round {
					border-radius: 34px;

					&:before {
						border-radius: 50%;
					}
				}
			}
		}

		// Text field
		&.text {

			input {
				position: relative;
				display: inline-block;
				width: 100%;
				vertical-align: top;
				margin: 0;
				padding: 10px 20px;
				font-family: inherit;
				font-size: 14px;
				line-height: 21px;
				font-weight: inherit;
				color: inherit;
				background-color: #fff;
				border: 1px solid var(--cso-border-color);
				border-radius: 34px;
				outline: 0;
				cursor: pointer;
				transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
				box-shadow: none;
				max-width: 250px;

				&:focus {
					color: #000;
					background-color: #fff;
					border-color: var(--cso-border-active);
				}
			}
		}

		// Select field
		&.select {

			select {
				color: currentColor;
				background-color: #fff;
				background-position: right 15px top 55%;
				border: 1px solid var(--cso-border-color);
				box-shadow: none;
				padding: 10px 34px 10px 20px;
				border-radius: 34px;
				font-size: 14px;
				min-height: initial;
				max-width: 250px;
				line-height: 21px;
				width: 250px;
				transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;

				&:focus {
					color: #000;
					background-color: #fff;
					border-color: var(--cso-border-active);
				}

				option {

					&:checked {
						font-weight: bold;
					}
				}
			}
		}

		// Checkbox field
		&.checkbox {

			.option-wrapper {
				position: relative;
				display: inline-flex;
			}

			input {
				appearance: none;
				background: #fff;
				border: 1px solid var(--cso-border-color);
				border-radius: 50%;
				display: inline-block;
				box-shadow: none;
				margin: 0;
				min-height: initial;
				min-width: initial;
				outline: 0;
				position: relative;
				transition: border-color .2s ease-out;
				width: 20px;
				height: 20px;

				&:before {
					display: none !important;
				}

				&:after {
					$offset: 4px;

					background-color: var(--cso-active-color);
					content: '';
					display: block;
					height: calc(100% - #{$offset * 2});
					width: calc(100% - #{$offset * 2});
					border-radius: 50%;
					left: $offset;
					opacity: 0;
					position: absolute;
					top: $offset;
					transition: opacity .2s ease-out;
				}

				&:checked {
					border-color: var(--cso-active-color);

					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}